* {
  box-sizing: border-box;
}

body {
  font-family: 'Cardo', sans-serif;
  margin: 0;
  background-image: url('images/triangles.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.userOptions {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*background-color: grey;*/
  z-index: 2;
  text-align: center;
  background-image: url('images/geometric2.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.userOptions h3 {
  padding: 40px 0 0 0;
  font-family: 'Cardo';
  font-family: sans-serif;
  font-weight: bolder;
}

.userOne, .userTwo {
  display: inline-block;
  background-color: white;
  width: 30%;
  height: 55%;
  vertical-align: top;
  margin: 6% 2% 3% 2%;
  border-radius: 15%;
}

.color {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
  margin: 60px 10px;
}

.yellow {
  background-color: #F3E68A;
}
.green {
  background-color: #7FD5CE;
}
.blue {
  background-color: #AFD0FE;
}
.pink {
  background-color: #FFD1DC;
}
.yellow .back{
  background-color: #F3E68A;
}
.green .back {
  background-color: #7FD5CE;
}
.blue .back{
  background-color: #AFD0FE;
}
.pink .back {
  background-color: #FFD1DC;
}

.bird {
  position: absolute;
}

.bird1 {
  width: 50px;
  top: 63%;
  left: 8%;
}

.bird2 {
  width: 50px;
  top: 80%;
  left: 75%;
}

.bird3 {
  width: 50px;
  top: 30%;
  left: 15%;
}

.bird4 {
  width: 50px;
  top: 40%;
  left: 80%;
}

.rounds {
  font-family: 'Cardo';
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
}

.header-wrap{
  vertical-align: top;
  padding-top: 20px;
}

.header-wrap-left {
  text-align: left;
  display: inline-block;
  width: 33%;
  float: left;
  padding-left: 50px;
}

.header-wrap-middle {
  text-align: center;
  padding: 0;
  display: inline-block;
  width: 34%;
  vertical-align: top;
}

.header-wrap-right {
  text-align: right;
  display: inline-block;
  width: 33%;
  vertical-align: top;
  float: right;
  padding-right: 50px;
}

.playerOne {
  height: 50px;
  padding: 0px 15px;
  font-family: 'Cardo';
  font-family: sans-serif;
  /*font-weight: bolder;*/
}

.playerOneScore {
  height: 50px;
  /*border: 1px solid #D7D8DA;*/
  /*background-color: #F3E68A;
  opacity: 0.2;*/
}

.versus {
  height: 100px;
}

.versus h1 {
}

.playerTwo {
  height: 50px;
  padding: 0px 15px;
  font-family: 'Cardo';
  font-family: sans-serif;
  /*font-weight: bolder;*/
}

.playerTwoScore {
  height: 50px;
  /*border: 1px solid #D7D8DA;*/
  /*background-color: #7FD5CE;
  opacity: 0.2;*/
}

.playerSelected {
  font-size: 30px;
}

.X-1, .X-2, .X-3 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #D7D8DA;
}

.O-1, .O-2, .O-3 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #D7D8DA;

}

.winX {
  /*width: 32%;
  height: 50px;*/
  display: inline-block;
  opacity: 0.8;
}

.winO {
  /*width: 32%;
  height: 50px;*/
  display: inline-block;
  opacity: 0.8;
}

.ticTacToe {
  margin: 30px auto;
  text-align: center;
}

.ticTacToe.disabled {
  pointer-events: none;
}

.rowOne {}
.rowTwo {}
.rowThree {}

.box {
  width: 120px;
  height: 120px;
  display: inline-block;
  border: 1px solid #D7D8DA;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  background-color: transparent !important;
}

.box .front {
  position: absolute;
  top: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.box.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.box .back {
  position: absolute;
  top: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.box.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

.box.X .back {
  background-color: #F3E68A;
  opacity: 0.8;
}

.box.O .back {
  background-color: #7FD5CE;
  opacity: 0.8;
}

.box.mouseOverX {
  background-color: #F3E68A;
  opacity: 0.6;
}

.box.mouseOverO {
  background-color: #7FD5CE;
  opacity: 0.6;
}

.box.winnerX {
  background-color: #F3E68A;
  opacity: 0.8;
}

.box.winnerO {
  background-color: #7FD5CE;
  opacity: 0.8;
}

.hexagon {
  position: relative;
  width: 124px;
  height: 100px;
  background: #D7D8DA;
  margin: 0 auto;
}

.hexagon:after,
.hexagon:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  width: 0px;
  background: #fff;
  border-top: 50px transparent solid;
  border-bottom: 50px transparent solid;
}

.hexagon:before {
    left: 0;
    border-right: 30px #D7D8DA solid;
}
.hexagon:after {
    right: 0;
    border-left: 30px #D7D8DA solid;
}

.hexagon p {
  padding: 40px 0 0 0;
  font-family: 'Cardo';
  font-family: sans-serif;
  font-weight: bolder;
}

.hexagonMain {
  position: relative;
  width: 124px;
  height: 100px;
  background: #D7D8DA;
  margin: 0 auto;
  /*margin: 400px auto 0 auto;*/
}

.hexagonMain:after,
.hexagonMain:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  width: 0px;
  background: transparent;
  border-top: 50px transparent solid;
  border-bottom: 50px transparent solid;
}

.hexagonMain:before {
    left: -30px;
    border-right: 30px #D7D8DA solid;
}
.hexagonMain:after {
    right: -30px;
    border-left: 30px #D7D8DA solid;
}

.selected {
  border: 2px solid black;
}
