* {
  box-sizing: border-box;
}

body {
  font-family: 'Cardo', sans-serif;
  background-image: url('background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 0 auto;
}

.bird {
  position: absolute;
}

.bird1 {
  width: 50px;
  top: 63%;
  left: 8%;
}

.bird2 {
  width: 50px;
  top: 30%;
  left: 75%;
}

.header {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  opacity: 0.8;
}

.header-wrap{
  vertical-align: top;
  width: 30%;
  display: inline-block;
  padding: 10px 30px;
}

.header-wrap-left {
  text-align: left;
}

.header-wrap-middle {
  text-align: center;
  padding: 0;
}

.header-wrap-right {
  text-align: right;
}

.playerOne {
  height: 50px;
  background-color: #F3E68A;
  padding: 15px;
}

.playerOneScore {
  height: 50px;
}

.versus {
  height: 100px;
}

.versus h1 {
  padding: 15px 0 38px 0;
}

.playerTwo {
  height: 50px;
  background-color: #7FD5CE;
  padding: 15px;
}

.playerTwoScore {
  height: 50px;
}

.ticTacToe {
  width: 460px;
  margin: 30px auto;
}

.rowOne {}
.rowTwo {}
.rowThree {}

.box {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 1px solid #D7D8DA;
}

.box.X {
  background-color: #F3E68A;
  opacity: 0.8;
}

.box.O {
  background-color: #7FD5CE;
  opacity: 0.8;
}

.box.winnerX {
  background-color: #F3E68A;
  opacity: 0.8;
}

.box.winnerO {
  background-color: #7FD5CE;
  opacity: 0.8;
}

/*.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}*/
